<div class="row mt-5">
  <div class="col-md-3">
    <h3>Transactions</h3>
  </div>
  <div class="col-md-6">
    <select name="month" (change)="onChange($event.target.value)" class="form-control">
      <option value="01">January</option>
      <option value="02">February</option>
      <option value="03">March</option>
      <option value="04">April</option>
      <option value="05">May</option>
      <option value="06">June</option>
      <option value="07">July</option>
      <option value="08">August</option>
      <option value="09">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <div class="">
      <h4>Total amout</h4>
      {{ data.total_amount }}
    </div>
  </div>
  <div class="col-md-3">
    <div class="">
      <h4>Total Output</h4>
      {{ data.total_output }}
    </div>
  </div>
  <div class="col-md-3">
    <div class="">
      <h4>Total Input</h4>
      {{ data.total_input }}
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12 mt-3">
    <table class="table table-responsive">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Category</th>
        <th scope="col">Title</th>
        <th scope="col">Amount</th>
        <th scope="col">Output?</th>
        <th scope="col">Input?</th>
        <th scope="col">Valid?</th>
        <th scope="col">Tags</th>
        <th scope="col">Date creation</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let transaction of data.transactions">
        <tr>
          <th scope="row">{{transaction.id}}</th>
          <td><b>{{ transaction.category }}</b></td>
          <td>{{ transaction.title }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.isOutput }}</td>
          <td>{{ transaction.isInput }}</td>
          <td>{{ transaction.isValid }}</td>
          <td>
            {{ transaction.tags }}
          </td>
          <td>{{ transaction.createdAt.date }}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>